.Profile{
    position: relative;
    width: calc(100% - 200px);
    height: 800px;
    right: -10px;
    border: 1px solid #2f3336;
}

.Profile .background .cover{
    width: 100%;
    height: 300px;
    position: absolute;
    object-fit: cover;
}

.Profile .transparent{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: transparent;
}

.Profile .avatar{
    width: 120px;
    height: 120px;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    top: 200px;
    transform: scale(1.3);
    border-radius: 50%;
    left: 30px;
    border: 4px solid #030303;
}

.Profile .info{
    position: relative;
    top: calc(300px + 40px);
    left: 10px;
}

.Profile .info h3{
    position: relative;
    left: 10px;
}

.gray{
    color: rgb(113, 118, 123);
    fill: rgb(113, 118, 123);
}

.date{
    height: 0.9em;
    padding: 5px;
    margin: 0em;
    top: 6px;
    position: relative;
}

.date-info{
    font-size: 18px;
    margin-top: -2px;
}

.notfoundprofile {
    position: relative;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    top: 40px;
    font-size: 26px;
}

.notfoundprofile h2{
    font-size: 20px;
    color: rgb(113, 118, 123);
}
  