.home .Profile{
    border: 0px solid transparent;
    width: calc(100% - 340px);
}

.home .post_{
    border: 1px solid #2f3336;
    border-radius: 4px;
    padding: 20px;
}

.home h3{
    padding-top: 10px;
    margin: 15px;
}

.scroll-x{
    width: calc(100%);
    overflow-y: hidden;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    padding: 5px;
}

.home .post_ .text_area img{
    width: 30px;
    height: 30px;
    top: 0;
    border: 1px solid transparent;
    display: flex;
    left: 0;
}

.home .post_ .text_area textarea{
    width: calc(100% - 180px);
    display: flex;
    resize: none;
    transition: height 0.5s ease-in-out; /* Efeito de transição suave */
    left: 50px;
    position: relative;
    background-color: rgba(255,255,255,.2);
    border: none;
    padding: 15px;
    color: white;
    font-size: 17px;
    border-radius: 20px;
}

.home .post_ .text_area textarea:focus{
    height: 100px; /* Altura do textarea ao ser clicado */
}

.notifications{
    position: fixed;
    top: 20px;
    z-index: 1000;
}

.home .Left{
    height: calc(100% + 30px);
    border-right: 1px solid #2f3336;
}

.home .Left .cardT{
    position: sticky !important;
    top: 25px;
}

.home .Left .cardT{
    background-color: transparent !important;
}

.home .Left .cardT .card--user{
    margin-top: 30px;
}

.home .Left .cardT .card--user .info--header .avatar{
    left: 10px;
    top: 55px;
}

.scroll-x .loading-overlay{
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0,.50);
    position: relative;
}