.chat--component--container{
    box-shadow: 1px 3px 20px 2px rgb(42 42 50 / 61%);
    position: fixed;
    width: 800px;
    height: calc(100% / 1.4);
    background-color: #2a2a32;
    border: 2px solid #50505900;
    border-radius: 4px;
    bottom: -47px;
    z-index: 10000;
    right: 21px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    padding-bottom: 30px;
}

.chat--component--container .left{
    width: 200px;
    left: 0;
    top: 52px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 50px);
    border-right: 2px solid #565660;
}

.chat--component--min{
    width: 190px;
    height: 15px;
}

.chat--component--container .header--component-chat{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-bottom: 2px solid rgba(255,255,255,.1);
    padding: 5px;
}

.chat--component--container .icons-- .button--close:active{
    transform: scale(0.85);
    opacity: 1;
}

.chat--component--container .icons-- .button--close:hover{
    opacity: 1;
    transform: scale(0.85);
}

.chat--component--container .icons-- .button--close{
    width: 60px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    transform: scale(0.8);
    filter: contrast(0.5) invert(1);
    cursor: pointer;
    top: -5px;
    right: 10px;
    opacity: 0.5;
}

.chat--component--container .icons-- .button--close img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    user-select: none;
    transition: 0.8s ease-in-out;
}

.chat--component--container .invertIcon{
    transform: rotate(180deg) scale(1.3);
}

.chat--component--container li:hover{
    background-color: rgba(0,0,0,0.2);
}

.chat--component--container li{
    width: 100%;
    list-style: none;
    top: 15px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.chat--component--container .loading-overlay{
    width: 100%;
    height: calc(100% + 60px);
    background-color: rgba(0,0,0,.40);
}

.chat--component--container .chat--mensanger li{
    height: fit-content !important;
    display: table;
}

.chat--component--container li .message-m:hover{
    opacity: 1;
}

.activeChat{
    opacity: 1 !important;
    background-color: #563BC6 !important;
}

.chat--component--container li .flex--container{
    display: flex;
}

.chat--component--container li img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.chat--component--container .search{
    position: relative;
    top: 5px;
    width: calc(100% - 25px);
    color: white;
    background-color: rgb(42 42 50 / 61%);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.1);
}

.chat--component--container li .span{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    top: 6px;
    left: 36px;
    position: absolute;
}

.chat--component--container .discrimination{
    position: absolute !important;
    left: -9px !important;
    top: 13px !important;
    font-weight: bold;
}

.chat--component--min .chat--logo{ 
    width: 112px !important;
}

.chat--component--container .chat--logo{
    text-transform: uppercase;
    position: absolute;
    font-size: 17px;
    opacity: 0.4;
    padding: 10px;
    top: -11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: -38px;
    overflow: hidden;
}

.chat--component--container .chat--mensanger img{
    top: 10px;
    margin-left: 10px;
    margin-top: 7px;
    position: sticky;
    left: -100px;
}

.chat--component--container .chat--mensanger{
    width: 600px;
    right: 0;
    top: 52px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 122px);
    word-wrap: break-word;
    padding-bottom: 0px;
}

.chat--component--container .chat--mensanger li img{
    margin-top: 0px;
    padding: 10px;
    margin-left: 3px !important;
}

.message-m{
    border-radius: 5px;
    width: 100%;
    margin: 5px;
    position: relative;
}

.chat--component--container .notMyMessage{
    left: -15px;
}

.chat--component--container .notMyMessage .message-m{
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.4));
    float: left;
    left: 5px;
    width: calc();
}

.chat--component--container .myMessage .message-m{
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.4));
    float: right;
    opacity: 1;
}

.mensagem--p{
    left: 0px;
    position: relative;
    top: 0px;
    font-size: 16px;
    white-space: pre-wrap;
    width: 85%;
}

.mensagem--p a{
    width: 40px !important;
}

.chatmessage .mensagem--p span{
    position: relative;
    top: 20px;
}

.chatmessage .mensagem--p a{
    position: relative;
    top: 20px;
    left: -110px;
    font-size: 15px;
    display: block;
    width: calc(100% - 0px) !important;
    border: none;
}

.chatmessage .mensagem--p a:hover{
    text-decoration: underline !important;
}

.chatmessage .mensagem--p span{
    position: relative;
    top: 20px;
    left: -115px;
    width: calc(100% - 50px);
    padding-bottom: 20px !important;
    font-size: 15px;
}

.username--p-message{
    position: relative;
    font-weight: bold;
    top: 10px;
}

.chat--component--container .info--user h3{
    position: absolute;
    left: 65px;
    top: 5px;
    font-size: 14px;
}

.chat--component--container .info--user--blur{
    filter: blur(30px);
    background-color: rgba(0,0,0,0.7);
    padding-bottom: 20px;
}

.chat--component--container .info--user{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    margin-top: -20px;
    z-index: 10;
    opacity: 0.8;
}

.chat--component--container .info--user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 20px;
}

.input--chat{
    position: absolute;
    bottom: 0px;
    width: 597px;
    right: 0;
    border-top: 2px solid rgba(255,255,255,.1);
    height: 67px;
}

.input--chat input{
    width: calc(100% - 100px);
    position: relative;
    top: 15px;
    left: 10px;
    overflow: hidden;
    background-color: rgb(62 62 73);
    border-radius: 5px;
}

.chatmessage{
    padding-top: 5px !important;
    width: 100%;
}

.message-m{
    max-width: 100%;
    opacity: 0.8;
}

.message-m:hover{
    opacity: 1 !important;
}

.span-a{
    margin: 10px;
    position: relative;
    top: 15px;
    left: -5px;
    text-transform: uppercase;
}

.input--chat .icons{
    position: absolute;
    right: 10px;
    top: 15px;
    height: 32px;
    width: 56px;
    overflow: hidden;
    background-color: rgb(62 62 73);
    border-top: 1px solid black;
    border-radius: 0 5px 5px 0;
    padding: 3px;
    border-bottom: 1px solid black;
    box-shadow: none;
    padding-left: 5px;
}

.input--chat .icons .buttonWrapper{
    opacity: 0.5 !important;
    right: -22px;
    top: 1px;
    position: relative;
    cursor: pointer;
    transition: 0.4s ease;
}

.input--chat .icons .buttonWrapper:hover{
    opacity: 1 !important;
    transform: scale(1.04);
}

.chat--component--container .gif input{
    width: calc(100% - 25px);
    left: 3px;
    top: 3px;
    position: sticky;
    z-index: 1000;
}

.chat--component--container .gif{
    position: absolute;
    top: -304px;
    background: #32323c;
    border-radius: 5px;
    box-shadow: 2px 1px 3px rgba(0,0,0,.20);
    padding: 10px;
    height: 300px;
    overflow: auto;
    right: 14px;
    width: 400px;
    animation: open 0.4s;
}

@keyframes open {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}