.chat--component--container{
    box-shadow: 1px 3px 20px 2px rgb(42 42 50 / 61%);
    position: fixed;
    width: 800px;
    height: calc(100% / 1.9);
    background-color: #2a2a32;
    border: 2px solid #50505900;
    border-radius: 4px;
    bottom: -47px;
    z-index: 10000;
    right: 21px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.chat--component--container .left{
    width: 200px;
    left: 0;
    top: 52px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 50px);
    border-right: 2px solid #565660;
}

.chat--component--min{
    width: 190px;
    height: calc(100% / 19);
}

.chat--component--container .header--component-chat{
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-bottom: 2px solid rgba(255,255,255,.1);
    padding: 5px;
}

.chat--component--container .icons-- .button--close:active{
    transform: scale(0.85);
    opacity: 1;
}

.chat--component--container .icons-- .button--close:hover{
    opacity: 1;
    transform: scale(0.85);
}

.chat--component--container .icons-- .button--close{
    width: 60px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    transform: scale(0.8);
    filter: contrast(0.5) invert(1);
    cursor: pointer;
    top: -5px;
    right: 10px;
    opacity: 0.5;
}

.chat--component--container .icons-- .button--close img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    user-select: none;
    transition: 0.8s ease-in-out;
}

.chat--component--container .invertIcon{
    transform: rotate(180deg) scale(1.3);
}

.chat--component--container li{
    width: 100%;
    list-style: none;
    background-color: rgba(255,255,255,0.1);
    top: 15px;
    position: relative;
    padding: 5px;
    opacity: 0.5;
    cursor: pointer;
}

.chat--component--container li:hover{
    opacity: 1;
}

.activeChat{
    opacity: 1 !important;
    filter: drop-shadow(2px 4px 6px black);
}

.chat--component--container li .flex--container{
    display: flex;
}

.chat--component--container li img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.chat--component--container .search{
    position: relative;
    top: 5px;
    width: calc(100% - 25px);
    color: white;
    background-color: rgb(42 42 50 / 61%);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.1);
}

.chat--component--container li span{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    top: 6px;
    left: 36px;
    position: absolute;
}

.chat--component--container .discrimination{
    position: absolute;
    left: -9px;
    top: 13px;
    font-weight: bold;
}

.chat--component--min .chat--logo{ 
    width: 112px !important;
}

.chat--component--container .chat--logo{
    text-transform: uppercase;
    position: absolute;
    font-size: 17px;
    opacity: 0.4;
    padding: 10px;
    top: -11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: -38px;
    overflow: hidden;
}

.chat--component--container .chat--mensanger{
    width: 600px;
    right: 0;
    top: 52px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 50px);
}