.spotify_card{
    background-color: #00be44;
    width: 240px;
    height: 260px;
    position: absolute;
    top: 75px;
    left: 20px;
    border-radius: 5px;
    box-shadow: 2px 6px 7px 7px rgb(0 0 0 / 58%);
    z-index: 50px;
    z-index: 200;
    padding: 5px;
}

.spotify_card .avatar{
    top: -24px !important;
    transform: scale(0.9);
    left: 55px;
    border: 4px solid #00be44;
}

.spotify_card .subCard{
    position: absolute;
    width: calc(100% - 5px);
    height: 120px;
    background-color: #00b441;
    bottom: 0;
}

.spotify_card .cover_t{
    width: 75px;
    height: 75px;
    background-color: red;
    position: absolute;
    border-radius: 5px;
    top: 35px;
    left: 5px;
}

.spotify_card .music_name{
    position: absolute;
    font-size: 18px;
    left: 90px;
    top: 35px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.spotify_card .album_name{
    position: absolute;
    font-size: 18px;
    left: 90px;
    top: 55px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    height: 50px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

.spotify_card .cover_t img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.spotify_card .listen{
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 5px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}