.notification {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-100%);
  max-width: 400px;
  left: 20px;
  top: 0px;
  padding: 16px;
  z-index: 1000;
  background-color: #2a2a32;
  border: 1px solid #505059;
  transition: 0.4s ease-in-out;
}

.notification.visible {
  opacity: 1;
  transform: translateY(0);
  transition: 0.4s ease-in-out;
}

.notification.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.notification .avatar {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin-left: -10px;
}

.notification .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.7);
  border-radius: 50%;
}

.content p {
  margin: 0;
  font-size: 14px;
  margin-left: -10px;
}

.content strong {
  font-weight: 600;
}

.close-button {
  position: absolute;
  top: -13px;
  right: -152px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}