* {
  font-family: 'Nunito', sans-serif;
}

:root{
  --danger: #ff4e4e;
  --purple: #563BC6;
  --login-box: #1D1D1F;
}

body {
  overflow: hidden;
  background: #242426 !important;
  filter: brightness(1.2) drop-shadow(2px 4px 6px black);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
  position: relative;
}

.login-box {
  height: fit-content;
  width: 500px;
  background-color: var(--login-box);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  animation: bounce 0.4s;
}

.title, label, p {
  color: rgba(255,255,255,0.7);
}

.subtitle {
  color: rgb(96,99,106)
}

label, p {
  align-self: start;
  margin-left: 40px;
  margin-bottom: 5px;
}

.login-box-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

@keyframes bounce{
  0%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0px);
  }
}

#email, #password {
  width: 80%;
  margin-bottom: 10px;
}

button {
  width: 85%;
  background-color: var(--purple);
  border: none;
  padding: 15px;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.8);
  transition: 0.15s;
}

button:active {
  filter: brightness(1);
}

input[type=text], input[type=password] {
  background-color: #23272a;
  color: white;
  border-radius: 1px;
  padding: 10px;
  border: 1px solid black;
}

.register {
  text-decoration: none;
}

.register:link {
  color: #7289da;
}

.register:hover {
  color: #7289da;
  text-decoration: underline;
}

a{
  color: white;
}

.error{
  color: var(--danger);
  user-select: none;
}

.error input{
  border: 2px solid var(--danger);
}

.left_chat{
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.23);
  height: 100%;
  width: 200px;
}

.alert-dialog-mask{
  background-color: rgba(0, 0, 0, 0.60) !important;
}

.background--image{
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.2;
  filter: blur(2px);
}

.ons-page, .ons-navigator, .ons-tabbar, .ons-dialog, .ons-alert-dialog, .ons-action-sheet, .ons-toast {
  z-index: 20;
}

.ons-navigator, .ons-tabbar, .ons-splitter, .ons-action-sheet, .ons-dialog, .ons-toast, .ons-alert-dialog {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  touch-action: manipulation;
}

@keyframes open{
  0%{
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: translate(-50%, -50%)  scale(1);
  }
}

.ons-alert--close{
  transform: scale(0) translate(-50%, -50%);
}

.ons-alert--close-e{
  display: none;
}

.ons-alert--open{
  animation: open 0.4s;
}

.alert-dialog-mask{
  animation: open 0s;
}

.progress-tracker li{
  list-style: none;
}

.login-box-content{
  animation: 0.4s;
}


.progress-tracker{
  left: -24px;
  position: relative;
  top: -20px;
}

.login-box-content input{
  background-color: rgba(0,0,0,.25) !important;
}