/* MessageRenderer.css */

.mensagem--p {
    margin-bottom: 10px;
}
  
.mensagem--p img {
    border-radius: 0px !important;
    width: 100% !important;
    height: 300px !important;
    max-width: 100% !important;
    max-height: 300px !important;
    object-fit: cover;
    position: relative !important;
    margin-top: 5px !important;
}
  
.mensagem--p a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}
  
.mensagem--p a:hover {
    text-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
  
.mensagem--p span {
    margin-right: 5px;
    display: revert; /* Adiciona um bloco de linha para poder aplicar a margem */
}

.mensagem--p .youtube-frame{
    margin-top: 5px;
    background-color: #c4302b;
    box-shadow: 2px 3px 6px 2px rgba(0,0,0,.20);
    border-radius: 5px;
}

.mensagem--p .youtube-frame iframe{
    width: 100%;
    border-radius: 3px;
}

.mensagem--p .youtube-frame .info p{
    left: -35px;
    top: -10px;
    position: relative;
}